<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <log4net>
    <!--注意：该节点不能少-->
    <root name="logerror">
      <!--日志类的名字-->
      <level value="all" />
      <!--定义记录的日志级别-->
      <appender-ref ref="RollingFileAppender"/>
      <!--记录到什么介质中-->
    </root>

    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <!--输出日志的编码方式（可以解决中文乱码）-->
      <param name="Encoding" value="utf-8" />
      <!--创建日志文件的方式-->
      <param name="RollingStyle" value="Size"/>
      <!--日志文件名开头-->
      <file value="Log\\log.txt"/>
      <!--日志文件名是否为静态-->
      <param name="StaticLogFileName" value="false"/>
      <!--备份日志数量-->
      <param name="MaxSizeRollBackups" value="100"/>
      <!--是否是向文件中追加日志-->
      <param name="AppendToFile" value="true"/>
      <!--日志信息排版模式-->
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%n%-6p%d{yyyy-MM-dd HH:mm:ss:fff}%n消息：%m%n位置：%l%n"/>
      </layout>
    </appender>
  </log4net>
</configuration>